body, html {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.img-main {

}

.card {

}

.companies-info {
    color: whitesmoke;
    ;
}

h1 {
    color: whitesmoke;
}

h2 {
}

p {
    color: whitesmoke;
}

.highlight-text {
    color: hsl(277, 64%, 61%);
}

.letter-styling {
    text-transform: uppercase;
}

@media (max-width: 337px) {

}


@media (min-width: 1440px) {
    .companies-info {
        display: flex;
        gap: 1.125rem;
    }

    .companies-info span {
        margin: 0;
    }
}