html, body {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    font-size: 0.9375em;
    color: whitesmoke;
}

.card-container {
    background-color: hsl(244, 38%, 16%);
    width: 375px;
    margin: 25px auto;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 40px;
}

.img-main {
    width: 99%;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Lexend Deca", sans-serif;
    margin: 0 auto;
    margin-top: 35px;
    width: 260px;
}

h2 {
    margin: 10px;
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    width: 260px;
    margin: 0 auto;
    line-height: 1.7;
    margin-bottom: 35px;
    margin-top: 15px;
}

.letter-styling {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    margin: 0;
}

.highlight-text {
    color: hsl(277, 64%, 61%);
}

@media (min-width: 1060px) {

    .card-container {
        width: 900px;
        margin: 100px auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .img-main {
        display: flex;
        width: 80%;
    }

    .companies-info {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}