body, html {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    font-size: 0.9375em;
    color: whitesmoke;
}

.card-container {
    background-color: hsl(244, 38%, 16%);
    width: 375px;
    margin: 25px auto;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 40px;
}

.img-main {
    width: 99%;
}

h1 {
    color: hsl(0, 0%, 100%);
}

h2 {
    margin: 10px;
}

.letter-styling {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    margin: 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    width: 240px;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 30px;
}